.boton-ver {
    display: inline-block;
    background-color: $color-primary-base;
    color: $color-text-light;
    padding: 10px 16px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin-top: auto;
    width: 100%;
    border: 1px solid $color-primary-base;
    transition: 0.2s ease;

    &:hover {
        background-color: $color-secondary;
        border-color: $color-secondary;
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        color: $color-text-light;
    }
}
