.cines-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 30px 0;
}
.titulo-seccion{
    text-align: center;
    margin: 25px 25px;
    padding-top: 50px;
}
.tarjeta-cine {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    border: 1px solid $color-borde;

    .cine-foto {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .cine-detalle {
        padding: 20px;

        h3 {
            font-size: 24px;
            margin-bottom: 10px;
            color: $color-texto;
        }

        p {
            margin-bottom: 10px;
        }

        .cine-mapa {
            width: 100%;
            height: 240px;
            border-radius: 10px;
            margin: 15px 0;
            border: none;
        }
    }
}
