
.productos-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;

    .productos-main-title {
        font-size: 42px;
        font-family: var(--font-title);
        color: var(--color-primary-dark);
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .productos-descripcion {
        font-size: 18px;
        font-family: var(--font-text);
        color: var(--color-primary-base);
        margin-bottom: 25px;
    }

    .cine-nombre {
        text-align: center;
        font-family: var(--font-decorative);
        font-size: 28px;
        color: var(--color-secondary);
        margin: 20px 0;
        padding-bottom: 8px;
        border-bottom: 2px solid var(--color-tertiary);
    }
}


.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}


.product-card {
    background: white;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid var(--color-tertiary);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.25s ease;
    display: flex;
    flex-direction: column;
    text-align: center;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    }

    .product-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 12px;
    }

    .product-title {
        font-size: 20px;
        font-family: var(--font-subtitle);
        margin-bottom: 10px;
        color: var(--color-primary-base);
    }

    .product-sub {
        font-size: 15px;
        color: gray;
        font-family: var(--font-text);
        margin-top: 8px;
        margin-bottom: 15px;
    }
}
