.grid-peliculas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    article {
        height: 100%;
    }
}

.tarjeta {
    height: 100%;
    background-color: white;
    border-radius: 12px;
    border: 1px solid $color-borde;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: .3s;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0,0,0,0.18);
    }

    .imagen-pelicula {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .tarjeta-info {
        flex: 1;
        padding: 16px;
        display: flex;
        flex-direction: column;

        .boton-ver {
            margin-top: auto;
        }
    }
}
