
.barra-navegacion {
    background-color: #000;
    padding: 20px;

    .marca {
        color: white;
        font-family: $fuente-navbar;
        text-decoration: none;
        display: flex;
        align-items: center;

        .logo-cine {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-right: 8px;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 20px;

        a {
            color: white ;
            text-decoration: none;
            font-family: $fuente-navbar;
            transition: .2s;

            &:hover {
                color: $color-acento ;
            }

            &.link-activo {
                color: $color-acento ;
            }
        }
    }
}
