
.barra-navegacion {
    background-color: #000;
    padding: 20px;

    .marca {
        color: white;
        font-family: $fuente-navbar;
        text-decoration: none;
        display: flex;
        align-items: center;

        .logo-cine {
            width: 40px;
            height: 40px;
            object-fit: contain;
            margin-right: 8px;
        }
    }

    .menu {
        list-style: none;
        display: flex;
        gap: 20px;

        a {
            color: white ;
            text-decoration: none;
            font-family: $fuente-navbar;
            transition: .2s;

            &:hover {
                color: $color-acento ;
            }

            &.link-activo {
                color: $color-acento ;
            }
        }
    }
}
@media (max-width: 991px) {
  .barra-navegacion .menu {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
  }

  .barra-navegacion .menu li {
    width: 100%;
  }

  .barra-navegacion .menu a {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }
}
