$color-primary-dark: #092945;
$color-primary-base: #34414F;
$color-secondary: #496C80;
$color-tertiary: #7E8595;
$color-background-light: #CFCFDD;
$color-text-light: white;
$color-text-dark: black;

$font-title: "Montserrat", sans-serif;
$font-subtitle: "Overpass", sans-serif;
$font-text: "Lato", sans-serif;
$font-navbar: "Inter", sans-serif;
$font-decorative: "Josefin Sans", sans-serif;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
